.pictures{
    text-align: center;
    background-image: url("/images/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    padding-top: 150px;
}
.services{
    text-align: center;
    background-image: url("/images/s_image.jpg");
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about{
    text-align: center;
}
#contact{
    background-image: url("/images/c_image.jpg");
    text-align: center;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
#footer{
    text-align: center;
    justify-content: center;

}
.whatwedo{
  text-align: center;
}

#enock{
    background:none;
 
}
h2{
    text-align: center;
}

#enock::placeholder{
    color: white;
}
.button{
    text-align: center;
}
h1{
    font-weight: bolder;
}
    

#overlay0{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0.0em;
    display: none; 
    color: black;
    font-size: 20px;
    padding-top: 30%;
    border:3px ,solid green;
    cursor: pointer;
    text-align: center;
  }

  #overlay1{width: 100%; text-align: center; height: 100%;background-color: white;opacity: 0.4;position: absolute; top: 0.0em;display: none;color: black; font-size: 20px;padding-top: 30%;border:3px ,solid green;cursor: pointer;}
  #overlay2{width: 100%;  text-align: center; height: 100%;background-color: white;opacity: 0.4;position: absolute; top: 0.0em;display: none;color: black; font-size: 20px;padding-top: 30%;border:3px ,solid green;cursor: pointer;}
  #overlay3{width: 100%;  text-align: center; height: 100%;background-color: white;opacity: 0.4;position: absolute; top: 0.0em;display: none;color: black; font-size: 20px;padding-top: 30%;border:3px ,solid green;cursor: pointer;}
  #overlay4{width: 100%;  text-align: center; height: 100%;background-color: white;opacity: 0.4;position: absolute; top: 0.0em;display: none;color: black; font-size: 20px;padding-top: 30%;border:3px ,solid green;cursor: pointer;}
  #overlay5{width: 100%;  text-align: center; height: 100%;background-color: white;opacity: 0.4;position: absolute; top: 0.0em;display: none;color: black; font-size: 20px;padding-top: 30%;border:3px ,solid green;cursor: pointer;}
  #overlay6{width: 100%;  text-align: center; height: 100%;background-color: white;opacity: 0.4;position: absolute; top: 0.0em;display: none;color: black; font-size: 20px;padding-top: 30%;border:3px ,solid green;cursor: pointer;}
  #overlay7{width: 100%;  text-align: center; height: 100%;background-color: white;opacity: 0.4;position: absolute; top: 0.0em;display: none;color: black; font-size: 20px;padding-top: 30%;border:3px ,solid green;cursor: pointer;}
  
  #name,#email,#message{
      background-color: transparent;
  }